.page2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
}

.page2 h2 {
  text-align: center;
}

.boxesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  color: whitesmoke;
  font-family: nixie;
}

@media (min-width: 700px) {
  .page2 h2 {
    margin-top: 3rem;
  }
}
